* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

body {
    background: #0550ed;
    overflow-x: hidden;
}

.one {
  background-color: white;
  height: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 0 0 5rem 5rem;
  
}

h1 {
  color: rgb(138, 134, 134);
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-family: 'Poppins', sans-serif;
}

iframe {
  width: 52rem;
  height: 28rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 10px 10px #0550ED;
}


span {
  color:#0550ED;
}

#bottone1 {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 9px;
  background: #0550ED;
  border: none;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  color: white;
 }
 
 #bottone1:hover {
  box-shadow: 7px 5px 56px -14px #0550ED;
 }
 
 #bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #C3D900;
 }

 /* Parte 2 */

 .two {
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}
/* Parte 3 */

.tree {
  background-color: white;
  height: 50rem;
  align-items: center;
  text-align: center;
}

.pitch {
  margin-top: 10rem;
}









@media screen and (max-width: 992px) {
.one {
    background-color: white;
    height: 39rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius:0%;
    
}

h1 {
    color: rgb(138, 134, 134);
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

iframe {
    width: 25rem;
    height: 17rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 10px 20px #0550ED;
 }
  

  span {
    color:#0550ED;
}

#bottone1 {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 9px;
    background: #0550ED;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    color: white;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #0550ED;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #C3D900;
   }

/* Parte 2 */

.two {
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h3 {
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

}
